<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="34">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activities -->
        <activity
            android:name=".AdminActionsActivity"
            android:exported="false" />
        <activity
            android:name=".ManageRoomsActivity"
            android:exported="false" />
        <activity
            android:name=".FloorManagerActionsActivity"
            android:exported="false" />
        <activity
            android:name=".UserActionsActivity"
            android:exported="false" />
        <activity
            android:name=".ViewReportsActivity"
            android:exported="false" />
        <activity
            android:name=".ManageAmenitiesActivity"
            android:exported="false" />
        <activity
            android:name=".AddRoomActivity"
            android:exported="false" />
        <activity
            android:name=".BookRoomActivity"
            android:exported="false" />
        <activity
            android:name=".ViewBookingStatusActivity"
            android:exported="false" />
        <activity
            android:name=".ViewBookingHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ApproveRejectActivity"
            android:exported="false"/>
        <activity
            android:name=".OccupancyDashboardActivity"
            android:exported="false"/>
        <activity
            android:name=".AllocateRoomsActivity"
            android:exported="false"/>
        <activity
            android:name=".ViewAmenitiesActivity"
            android:exported="false"/>
        <activity
            android:name=".RoomDetailsActivity"
            android:exported="false"/>
        <activity
            android:name=".AssignRolesActivity"
            android:exported="false"/>



    </application>

</manifest>